.checkbox {
	$blockSize: 1.25em;
	$spaceSize: $blockSize / 2;
	$checkedBorderColor: #bc9cff;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: $spaceSize;

	* {
		box-sizing: border-box;
	}

	input[type='checkbox'] {
		@include basicInput('height' 'padding-left' 'focus');
		margin: 0;
		margin-right: $spaceSize;
		padding: 0;
		height: $blockSize;
		width: $blockSize;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		vertical-align: text-top;
		cursor: pointer;

		&:checked {
			border-color: $checkedBorderColor;
			background-image: url('../img/checkbox-checked.svg');
			background-position: center 30%;
			background-repeat: no-repeat;
			background-size: 65%;
		}
	}

	label {
		color: $darkshade50;
		cursor: pointer;
		line-height: $checkboxLineHeight; //constants/types.scss
		margin-top: ($blockSize - 1em) / 2; //blockSize - lineHeight = necessaryMarginTop + necessaryMarginBottom = 2 * necessaryMargin
		width: calc(100% - (#{$blockSize} + #{$spaceSize}));
	}
}
