@import '../../constants/templates.scss';
.subscription-text-field {
	@extend %basicInputNoPadding;
	position: relative;
	* {
		box-sizing: border-box;
	}
	input {
		@extend %basicInputNoBorder;
		width: 100%;
	}
	button {
		position: absolute;
		right: 0;
		top: 0;
		width: $inputSize;
		height: $inputSize;
		border: none;
		padding: 0;
		background-color: transparent;
		background-image: url(../img/arrow_forward-24px_purple.svg);
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		outline: none;
	}
}
