.subscription-text-field {
	@include basicInput('padding-left');
	display: flex;
	flex-direction: row;
	* {
		box-sizing: border-box;
	}
	input {
		@include basicInput('border');
		border: none;
		width: calc(100% - #{$inputSize});
	}
	button {
		@extend %basicInputSingleButton;
		background-image: url(../img/arrow_forward-24px_purple.svg);
	}
}
