include ../elements/service-config-dropdown/service-config-dropdown.pug
include ../elements/text-field/text-field.pug
include ../elements/dropdown/dropdown.pug
include ../elements/masked-text-field/masked-text-field.pug
include ../elements/date-dropdown/date-dropdown.pug
include ../elements/filter-date-dropdown/filter-date-dropdown.pug
include ../elements/subscription-text-field/subscription-text-field.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI Kit
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    body
        +text-field("Hello, World!") 
        br
        +dropdown(["one", "two", "three"]) 
        br
        +masked-text-field("ДД.ММ.ГГГГ") 
        br
        +date-dropdown(['19.03.1988', '13.03.2019'])
        br
        +filter-date-dropdown(['19 авг - 23 авг', '15 сен - 16 сен'])
        br
        +subscription-text-field('Email')(style='width: 10em')
        br
        //-0, 1, 2
        +service-config-dropdown([
            { name: 'Спальни', subnames: ['Спален', 'Спальня', 'Спальни'] },
            { name: 'Кровати', subnames: ['Кроватей', 'Кровать', 'Кровати'] }, 
            { name: 'Ванные комнаты', subnames: ['Ванных комнат', 'Ванная комната', 'Ванные комнаты'] }
        ])
        br
