include ../elements/checkbox/checkbox.pug
include ../elements/expandable-checkbox-list/expandable-checkbox-list.pug
include ../elements/service-config-dropdown/service-config-dropdown.pug
include ../elements/text-field/text-field.pug
include ../elements/dropdown/dropdown.pug
include ../elements/masked-text-field/masked-text-field.pug
include ../elements/date-dropdown/date-dropdown.pug
include ../elements/filter-date-dropdown/filter-date-dropdown.pug
include ../elements/subscription-text-field/subscription-text-field.pug
include ../elements/icon-text-list/icon-text-list.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI Kit
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    body
        +text-field("Hello, World!") 
        br
        +dropdown(["one", "two", "three"]) 
        br
        +masked-text-field("ДД.ММ.ГГГГ") 
        br
        +date-dropdown(['19.03.1988', '13.03.2019'])
        br
        +filter-date-dropdown(['19 авг - 23 авг', '15 сен - 16 сен'])
        br
        +subscription-text-field('Email')(style='width: 10em')
        br
        //-subnames: [for0, for1, for2]
        +service-config-dropdown([
            { name: 'Спальни', subnames: ['Спален', 'Спальня', 'Спальни'] },
            { name: 'Кровати', subnames: ['Кроватей', 'Кровать', 'Кровати'] },
            { name: 'Ванные комнаты', subnames: ['Ванных комнат', 'Ванная комната', 'Ванные комнаты'] }
        ])
        br
        //- +checkbox('чекбокс')
        br
        +expandable-checkbox-list(
            "Expandalbe checkbox list", 
            [
                "Завтрак", 
                "Письменный стол", 
                "Стул для кормления", 
                "Кроватка", 
                "Телевизор", 
                "Шампунь", 
                "Телевизор", 
                "Шампунь"
            ]
        )(style="width: 20em")
        br
        +icon-text-list([
            {
                icon: {
                    src: '../img/insert_emoticon.svg',
                    alt: 'Улыбка',
                },
                title: 'Комфорт',
                text: 'Шумопоглащающие стены',
            },
            {
                icon: {
                    src: '../img/location_city.svg',
                    alt: 'Здание',
                },
                title: 'Удобство',
                text: 'Окно в каждой из спален',
            }
        ])(style="width: 20em")
