@import '../constants/colors.scss';

$inputSize: 2.75em;
$inputBorder: 1px solid $darkshade25;
$inputPaddingLeft: 1.1em;
$inputBorderRadius: 0.25em;

@mixin basicInput($disableList) {
	@if (not index($disableList, 'color')) {
		color: $darkshade75;
	}
	@if (not index($disableList, 'box-sizing')) {
		box-sizing: border-box;
	}
	@if (not index($disableList, 'border-radius')) {
		border-radius: $inputBorderRadius;
	}
	@if (not index($disableList, 'outline')) {
		outline: none;
	}
	@if (not index($disableList, 'height')) {
		height: $inputSize;
	}
	@if (not index($disableList, 'background-color')) {
		background-color: #ffffff;
	}
	@if (not index($disableList, 'border')) {
		border: $inputBorder;
	}
	@if (not index($disableList, 'padding-left')) {
		padding-left: $inputPaddingLeft;
	}
	@if (not index($disableList, 'font-family')) {
		font-family: inherit;
	}
	@if (not index($disableList, 'hover')) {
		&:hover {
			border-color: $darkshade50;
		}
	}
	@if (not index($disableList, 'focus')) {
		&:focus {
			border-color: $darkshade50;
		}
	}
}

%basicInputSingleButton {
	width: $inputSize;
	height: $inputSize;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-position: center center;
	outline: none;
}

%basicDropdown {
	@extend %basicInput;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: $inputSize;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;

	background-image: url(../img/keyboard_arrow_down-24px.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - #{$inputSize} / 2 + 0.925em) center;
}
