@import '../constants/colors.scss';
%basicInput {
	color: $darkshade75;
	height: 2.75em;
	background-color: #ffffff;
	border: 1px solid $darkshade25;
	box-sizing: border-box;
	border-radius: 0.25em;
	outline: none;
	padding-left: 1.1em;
	font-family: inherit;

	&:hover,
	&:focus {
		border-color: $darkshade50;
	}
}

%basicDropdown {
	@extend %basicInput;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 2.75em;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;

	background-image: url(../img/keyboard_arrow_down-24px.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 2.75em / 2 + 0.925em) center;
}
