%basicInput {
	height: 2.75em;
	background-color: #ffffff;
	border: 1px solid $darkshade25;
	box-sizing: border-box;
	border-radius: 0.25em;
	outline: none;
	padding-left: 1.1em;
	font-family: inherit;

	&:hover,
	&:focus {
		border-color: $darkshade50;
	}
}
