@import '../__service/service-config-dropdown__service.scss';
.service-config-dropdown__dropdown-services {
	$borderStyle: 1px solid $darkshade50;
	border: $borderStyle;
	border-top: 0;
	border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
	position: absolute;
	z-index: 2;
	background-color: white;
	width: 100%;
	box-shadow: $dropdownShadow;
	table {
		width: 100%;
		padding-top: 0.25em;
		padding-left: calc(#{$inputPaddingLeft});
		tbody {
			@include basicInput('height' 'background-color' 'border' 'padding-left' 'font-family' 'hover' 'focus');
			width: 100%;
		}
	}
}
