mixin expandable-checkbox-list(title, checkboxes)
	.expandable-checkbox-list&attributes(attributes)
		.expandable-checkbox-list__header
			h3.expandable-checkbox-list__title= title
			button.expandable-checkbox-list__toggle-button
		.expandable-checkbox-list__checkboxes
			each check_name in checkboxes
				+checkbox(check_name).expandable-checkbox-list__checkbox
					