.expandable-checkbox-list {
	$blockSize: 1.25em;
	$spaceSize: $blockSize / 2;
	$checkedBorderColor: #bc9cff;

	width: auto;
	position: relative;

	* {
		box-sizing: border-box;
	}

	&__header {
		@include basicInput('border' 'padding-left');
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	&__title {
		margin: 0;
	}
	&__toggle-button {
		background-color: transparent;
		border: none;
		background-image: url('../img/keyboard_arrow_down-24px.svg');
		background-repeat: no-repeat;
		background-position: center center;
		width: $inputSize;
		height: 100%;
		outline: none;
		transition: 1s ease-in-out;
		cursor: pointer;

		&_opened {
			transform: rotate(180deg);
		}
	}

	&__checkboxes {
		width: 100%;
		position: absolute;
		display: none;
		z-index: 2;
		background-color: white;
	}
	&__checkbox {
	}
}
